USE [master]
GO
/****** Object:  Database [R67_EviTestDB]    Script Date: 30/12/2025 18:16:46 ******/
CREATE DATABASE [R67_EviTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'R67_EviTestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\R67_EviTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'R67_EviTestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\R67_EviTestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [R67_EviTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [R67_EviTestDB]
GO
/****** Object:  Table [dbo].[PlayerEntries]    Script Date: 30/12/2025 18:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerEntries](
	[PlayerEntryId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 30/12/2025 18:16:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[IsCaptain] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 30/12/2025 18:16:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PlayerEntries] ON 

INSERT [dbo].[PlayerEntries] ([PlayerEntryId], [PlayerId], [TeamId]) VALUES (10, 3, 16)
INSERT [dbo].[PlayerEntries] ([PlayerEntryId], [PlayerId], [TeamId]) VALUES (11, 3, 14)
INSERT [dbo].[PlayerEntries] ([PlayerEntryId], [PlayerId], [TeamId]) VALUES (12, 3, 7)
SET IDENTITY_INSERT [dbo].[PlayerEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([PlayerId], [PlayerName], [BirthDate], [Age], [Picture], [IsCaptain]) VALUES (2, N'Shakib Al Hasan', CAST(N'1987-03-24' AS Date), 38, N'/Images/639027051923209068.jpg', 1)
INSERT [dbo].[Players] ([PlayerId], [PlayerName], [BirthDate], [Age], [Picture], [IsCaptain]) VALUES (3, N'Mahmudullah Riyad', CAST(N'1986-02-04' AS Date), 39, N'/Images/639027053552891477.png', 1)
INSERT [dbo].[Players] ([PlayerId], [PlayerName], [BirthDate], [Age], [Picture], [IsCaptain]) VALUES (4, N'Jos Buttler', CAST(N'1990-09-08' AS Date), 35, N'/Images/639027055095753897.jpg', 0)
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([TeamId], [TeamName]) VALUES (1, N'Dhaka Capitals')
INSERT [dbo].[Teams] ([TeamId], [TeamName]) VALUES (2, N'Dhaka Dominators')
INSERT [dbo].[Teams] ([TeamId], [TeamName]) VALUES (3, N'Dhaka Dynamites')
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
ALTER TABLE [dbo].[PlayerEntries]  WITH CHECK ADD FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[PlayerEntries]  WITH CHECK ADD FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
USE [master]
GO
